<div class="panel-body">
  <div class="col-md-6">
    <h3>Welcome <strong><%= @user.first_name %> <%= @user.last_name%></strong>!</h3>
    <div class="container">
      <br>
      <strong>About: </strong>"<%= @user.blurb %>"<br>
      <strong>Current City: </strong><%= @user.current_city %><br>
      <%= link_to "Edit", edit_user_path(@user) %>
    </div>
  </div>
</div>
<br>
<div class="panel-body" style="margin-left: 600px">
  <div class="col-md-6">
    <div class="container">
      <% @boards.each do |board| %>
        <p>
          <strong><%= link_to board.name, board_path(board.user, board) %></strong> |
          <%= link_to "Edit Board", edit_board_path(board.user, board) %> |
          <%= link_to "Delete", delete_board_path(board.user, board), method: :delete %> <br>
        </p>
      <% end %>
      <%= link_to "New Board", new_board_path, class: "glyphicon glyphicon-plus-sign btn btn-default btn-lg" %>
    </div>
  </div>
</div>
