<div class="container">

  <div class="row">
    <div class="card col-md-3">

    <p><%= link_to new_card_path,class: "glyphicon glyphicon-plus-sign btn btn-default btn-lg" do %><% end %></p>

    </div>

    <% @cards.each do |card| %>
    <% if card.picture == nil %>
    <div class="card col-md-3">
      <p id="delete_link"><%= link_to "x", delete_card_path(card.board, card), method: :delete %></p>
        <p><%= card.text %><br></p>
    </div>
    <% else %>
    <div class="card col-md-3">
      <p id="delete_link"><%= link_to "x", delete_card_path(card.board, card), method: :delete %></p>
      <p><img src="<%= card.picture %>" class="height: 150px width:100px"/><br>
        <p><%= card.text %><br></p>
    </div>
    <% end %>
    <% end %>
  </div>

</div>
