<!DOCTYPE html>
<html>
    <head>
        <title>Envision</title>

        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-OiWEn8WwtH+084y4yW2YhhH6z/qTSecHZuk/eiWtnvLtU+Z8lpDsmhOKkex6YARr" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <% if current_user %>
                <%= link_to "Envision", root_path, class: "btn btn-primary" %>

                <%= link_to "Log Out", logout_path, class: "btn btn-info" %>

                <%= link_to "Profile", user_path(current_user), class: "btn btn-success" %>

                <%= link_to "About", about_path, class: "btn btn-danger" %>
            <% else %>
                <%= link_to "Envision", root_path, class: "btn btn-primary" %>

                <%= link_to "Log In", login_path, class: "btn btn-success" %>

                <%= link_to "Sign Up", new_user_path, class: "btn btn-info" %>

                <%= link_to "About", about_path, class: "btn btn-danger" %>
                <% end %>
            </div>
        </nav>

        <%= yield %>

    </body>
</html>
